@(books: Seq[models.Book])(implicit messages: Messages)

<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
</head>
<body>
<h1>Book List</h1>
<div class="book-list">
    @for(book <- books) {
    <div class="book-item">

        <img src= @book.imageUrl
        alt="Cover image of @book.title"
        class="book-image">

        <div class="book-details">
            <a href="" class="book-title">@book.title</a>
            <div class="book-author">by @book.author</div>
        </div>
    </div>
    }
</div>
</body>
</html>
