@(book: Option[models.Book])(implicit messages: Messages)

<!DOCTYPE html>
<html>
<head>
    <title>@if(book.isDefined) { "Update Book" } else { "Add Book" }</title>
</head>
<body>
<h1>@if(book.isDefined) { "Update Book" } else { "Add Book" }</h1>
<form action="" method="post">
    <input type="hidden" name="id" value="@book.flatMap(_.id).getOrElse("")" />
    <label for="title">Title:</label>
    <input type="text" name="title" value="@book.map(_.title).getOrElse("")" />
    <label for="author">Author:</label>
    <input type="text" name="author" value="@book.map(_.author).getOrElse("")" />
    <label for="year">Year:</label>
    <input type="number" name="year" value="@book.map(_.year).getOrElse("")" />
    <button type="submit">@if(book.isDefined) { "Update" } else { "Add" }</button>
</form>
</body>
</html>